// Variables
@import 'variables';

.content-page, .navbar-custom  { margin-left: 0px; }

.table { color: $text-primary;}

.menu-custom {
    ul {
        li {
            a {
                color: $text-primary;
                padding: 12px 10px;
                font-size: $font-size-default;
                font-family: Sarabun, sans-serif;
                line-height: 42px;

                &:hover {
                    color: $text-primary-hover;
                    text-decoration: none;
                }

                i {
                    vertical-align: middle;
                    font-size: $font-size-default;
                    width: 20px;
                    display: inline-block;
                }

                span {
                    vertical-align: middle;
                    margin-left: 1px;
                }
            }
        }
    }
}

.panel-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.cursor { cursor: pointer; }

// TAREFAS

.acoes-comentario {
    color: $white;
    display: flex;
    justify-content: flex-end;

    i { padding: 3px; }
}

// CLIENTES

// .ver-detalhes-cliente{
// 	cursor: pointer;
// }